{%
  set classes = [
    'node',
    'node-list',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{attributes.addClass(classes)}}>
	<header class="oo-node-header-tiny">
		{% if label and not page %}
			{% set textShodow = create_attribute() %}
			{% if color %}
				{% set border_attribute = 'text-shadow: 20px 20px 49px ' ~ color  ~ ';'%}
				{% set title_attributes = title_attributes.setAttribute('style', border_attribute) %}
			{% endif %}
			<h2{{title_attributes.addClass('node__title')}}>
				<a href="{{ url }}" rel="bookmark">{{ label }}</a>
			</h2>
		{% endif %}
	</header>
	{% if content.field_chapo and content.field_chapo[0] %}
		<div{{content_attributes.addClass('node__content')}}>
      {% if content.field_vignette %}
				{{content.field_vignette}}
			{% endif %}
			{% set chapo = content.field_chapo[0] and content.field_chapo[0]['#context'] ? content.field_chapo[0]['#context'].value : null %}
			{{ chapo }}
		</div>
	{% endif %}
</article>
