<article{{attributes.addClass(classes)}}>
	<header class="oo-nd-header uk-section uk-section-xsmall">
		<div class="uk-container">
			<div class="nd--header-content">
				<h1{{title_attributes.addClass('nd--title')}}>
					{{ label }}
				</h1>
				<div class="nd--header-tags oo-grid">
					{% if content.field_thematiques %}
						<div>{{ content.field_thematiques }}</div>
					{% endif %}
				</div>
			</div>
		</div>
	</header>
  {% if content.field_vignette %}
    <div class="oo-nd-vignette uk-section uk-section-xsmall">
      <div class="uk-container">
        <div class="nd--vignette-content">
          {{ content.field_vignette }}
        </div>
      </div>
    </div>
  {% endif %}

	<div class="oo-nd-main uk-section uk-section-small">
		<div class="uk-container uk-container-large">
			<div class="content" uk-grid>
				<div{{content_attributes.addClass('nd--content')}}>
					<div class="uk-text-lead uk-margin-bottom">{{ content.field_chapo }}</div>
					{{ content|without('field_realisation', 'field_thematiques', 'field_chapo', 'field_vignette') }}
				</div>
			</div>
		</div>
	</div>
</article>
